<section class="py-5">
  <div class="container text-center">
    <h1 class="display-6 mb-3">Error <%= code %></h1>
    <p class="lead mb-4"><%= message %></p>
    <a class="btn btn-outline-primary" href="/">Go Home</a>
  </div>
</section>
